*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

:root{
    --border-template: none;
}






/*HEADER*/
#header-wrapper{
    background-color: #65AFF3;
    border: var(--border-template);
    min-height: 400px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img{
    width: 650px;
    height: 500px;
}


#text-wrapper{
    text-align: center;
    border: var(--border-template);
    max-width: fit-content;
    font-family:'Oswald', sans-serif;
    color: white;
}

#text-wrapper h1{
    font-size: 155px;
    margin-bottom: -18px;
}

#text-wrapper h3{
    font-size: 28px;
}


/*Button*/

#button-wrapper{
    min-height: 300px;
    border: var(--border-template);
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-wrapper2{
    border: var(--border-template);
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100px;

}

#button-wrapper button{
    background-color: white;
    border: 2px solid #65AFF3;
    width: 200px;
    height: 60px;
    font-size: 30px;
    margin-bottom: 15px;
}

#button-wrapper h3{
    font-size: 20px;
    display:none;
}


/*Posts*/

#image-block{
    background-color: #65AFF3;
    width: 250px;
    height: 250px;
}

#date{
    font-size: 16px;
}

#title{
    width:250px; 
    text-align: center;
}

#Posts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". title ."
  "left middle right"
  "low mid high";
  row-gap: 30px;
}

#main-title{
    grid-area: title;
    justify-self:center;

}

#art1{
    grid-area: left;
    justify-self:center;
}

#art2{
    grid-area: middle;
    justify-self:center;
}

#art3{
    grid-area: right;
    justify-self:center;
}

#art4{
    grid-area: low;
    justify-self:center;
}

#art5{
    grid-area: mid;
    justify-self:center;
}

#art6{
    grid-area: high;
    justify-self:center;
}




/*Footer*/

footer{
    background-color: #65AFF3;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


footer h3{
    margin-bottom: 0px;
    font-size: 15px;
    
}