*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

:root{
    --border-template: none;
}






/*HEADER*/
#header-wrapper{
    background-color: #65AFF3;
    border: var(--border-template);
    width: 100vw; 
    min-height: 400px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img{
    width: 350px;
    height: 350px;
}


#text-wrapper{
    text-align: center;
    border: var(--border-template);
    max-width: fit-content;
    font-family:'Oswald', sans-serif;
    color: white;
}

#text-wrapper h1{
    font-size: 155px;
    margin-bottom: -18px;
}

#text-wrapper h3{
    font-size: 28px;
}


/*Button*/

#button-wrapper{
    min-height: 300px;
    border: var(--border-template);
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-wrapper2{
    border: var(--border-template);
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100px;

}

#button-wrapper button{
    background-color: white;
    border: 2px solid #65AFF3;
    width: 200px;
    height: 60px;
    font-size: 30px;
    margin-bottom: 15px;
}

#button-wrapper h3{
    font-size: 20px;
    display:none;
}



/*Footer*/

footer{
    background-color: #65AFF3;
    min-height: 50px;
}


footer h3{
    margin-bottom: 0px;
}